<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>TodoApp</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
     <link rel="stylesheet" href="css/main.css"> <!-- load main css file -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Login to TodoApp</h1>

        <p>Signup or register</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Join TodoApp</a>
    </div>

</div>
</body>
</html>
