<!doctype html>

<html ng-app="Todo">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TodoApp main page</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        html {
            overflow-y: scroll;
        }
        body {
            padding-top: 50px;
        }
        #todo-list {
            margin-bottom: 30px;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
    <!--
  <script>
    $(function() {
      $( "#datepicker" ).datepicker();
    });
</script>
-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>

    <link rel="stylesheet" href="/angular-material/angular-material.css">
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-messages/angular-messages.js"></script>
    <script src="angular-material/angular-material.js"></script>

    <script src="js/controllers/main.js"></script>
    <script src="js/services/todos.js"></script>
    <script src="js/core.js"></script>
    <script src="js/utilities/utils.js"></script>
</head>

<body ng-controller="mainController">
    <div class="navbar navbar-fixed-top" style="background-color:#262626; padding-bottom:10px;">
        <div class="navbar-inner">
            <span class="pull-left listname">
                <p>{{listName |uppercase}}</p>
            </span>
         </div>
      </div>
      <div id="wrapper">
         <!-- Sidebar -->
         <div id="sidebar-wrapper">
         <div>
         </div>
            <ul class="sidebar-nav">
               <li class="sidebar-brand">
                   <form class="navbar-form pull-right loggedUser" action="/logout" method="get">
                     Welcome, <strong><%= user.email%></strong>
                     <button type="submit" class="btn btn-primary pull-right btn-sm">Logout</button>
            </form>
               </li>
            </ul>
         </div>
         <!-- /#sidebar-wrapper -->
         <!-- Page Content -->
         <div id="page-content-wrapper">
            <div class="container-fluid">
               <div id="todo-form" class="row">
                  <div class="col-sm-12">

            <form>
                <button type="submit" ng-show="!addTodo" class="addTask btn btn-primary btn-lg" ng-click="toggle()"><i class="plusik glyphicon glyphicon-plus"></i>Add todo task</button>
                <h3>Todos remaining:  <span class="label label-info">{{todos.length}}</span>
            </h3>
            <div class="form-group" ng-show="addTodo">
                    </br>
                    <div class="row" >
                        <md-input-container class="md-block col-sm-6">
                            <label>Todo title</label>
                            <input md-maxlength="100" required="" maxlength="100" md-no-asterisk="" name="description" ng-model="formData.title">
                            </br>
                        </md-input-container>
                        <md-input-container class="md-block col-sm-6">
                            <label>Todo description</label>
                            <input type="text" md-maxlength="255" maxlength="255" required="" class="form-control input-lg" ng-model="formData.description">
                        </md-input-container>
                    </div>
                    <div class="row" ng-show="addTodo" style="margin-left: 0">
                        <md-checkbox ng-model="isPeriodicalTask" aria-label="Is periodical?" class="col-sm-2">
                          Is periodical?
                        </md-checkbox>
                        <md-input-container class="md-block col-sm-3">
                            <label>Todo amount of repeats</label>
                            <input type="number" min="1" onkeydown="return filterDigits(event)" value="1" required class="form-control input-lg text-center" ng-model="formData.periodQuantity" ng-disabled="!isPeriodicalTask">
                        </md-input-container>
                        <span ng-cloak="" class="datepickerdemoBasicUsage col-sm-4 col-sm-offset-3">
                                                            <md-content>
                                                              <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                                                            </md-content>
                        </span>
                            </div>
                <md-button type="submit" ng-show="addTodo" class="showDescription md-primary md-raised pull-right" ng-click="clearAndToggle()">Cancel</md-button>
                            <md-button type="submit" ng-show="addTodo" class="showDescription md-primary md-raised" ng-click="addNewTodo()">Add task</md-button>
            </div>
            </form>
        </div>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-12">
            <ul class="taskList-body">
              <div ng-repeat="todo in todos">
                <li class="checkbox">
                    <div class="pull-left">
                        <md-checkbox ng-click="archiveTask(todo._id)" />
                        <!-- ID: {{todo._id}} </br>-->
                        <p class="pull-left">{{todo.title}} </br>
                        </p>
                        <p ng-show="showDescription">{{todos[$index].description}} </br>
                        </p>
                    </div>
                    <div>
                            <md-button class="showDescription md-primary md-raised" ngshow="!showDescription" ng-click="showAdvanced($event, $index)">
                                Show description
                            </md-button>
                              <!--TODO Gandi - poprawic css :(  -->
                              <md-button class="showDescription md-primary md-raised" ngshow="!showDescription" ng-click="periodUpdate(todo._id, -1)" style="margin-right:10px !important;"
                                         ng-show="todo.periodQuantity > 1 && todo.currentPeriod > 0">
                                                    -1
                              </md-button>
                              <md-button class="showDescription md-primary md-raised" ngshow="!showDescription" ng-click="periodUpdate(todo._id, +1)" style="margin-right:10px !important;"
                                         ng-show="todo.periodQuantity > 1  && todo.currentPeriod < todo.periodQuantity">
                                                    +1
                              </md-button>
                          <div class="showDate pull-right" style="margin-right: 20px;" ng-show="todo.periodQuantity > 1">
                                                                          remaining: {{todo.periodQuantity-todo.currentPeriod}}
                                              </div>
                     </div>

                </li>
              </div>
            </ul>
        </div>
    </div>

    <script type="text/ng-template" id="dialog1.tmpl.html">

        <md-dialog ng-cloak>
            <form>
                <md-toolbar>
                    <div class=" md-toolbar-tools">
                         <h2 ng-show="!locals.items.enableEditing">{{locals.items.todos[locals.ind].title}}</h2>
                         <md-input-container class="md-block" ng-show="locals.items.enableEditing">
                            <label>Todo title</label>
                            <input md-maxlength="100" required="" maxlength="100" md-no-asterisk="" name="description" ng-model="locals.items.todos[locals.ind].title">
                         </md-input-container>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">X
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="popup md-dialog-content">
                        <md-checkbox ng-click="locals.items.enableEdit()"/>
                        <label >Enable editing</label>
                        <h2 ng-show="!locals.items.enableEditing">{{locals.items.todos[locals.ind].description}}</h2>
                        <md-input-container class="md-block col-sm-6" ng-show="locals.items.enableEditing">
                            <label>Todo description</label>
                            <input type="text" md-maxlength="255" maxlength="255" required="" class="form-control input-lg" ng-model="locals.items.todos[locals.ind].description">
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">

                    <md-button ng-click="cancel(); locals.items.enableEdit()" style="margin-right:20px;">
                        Zapisz!
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>

    <div>
        <h3>Todos history:  <span class="label label-info">{{todoHistory.length}}</span></h3>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-12">
            <ul class="taskList-body">
                <li class="checkbox" ng-repeat="archived in todoHistory">
                    <div class="pull-left">
                        <md-checkbox> {{archived.title}} </br>
                        <p ng-show="showDescription">{{archived.description}}</br>
                        </p>
                        <div ng-show="archived.tasks.periodQuantity != null">
                            {{archived.currentPeriod}}/{{archived.periodQuantity}}
                        </div>
                    </div>
                    <md-button class="showDescription md-primary md-raised" ngshow="!showDescription" ng-click="showAdvanced($event, $index)">
                        Show description
                    </md-button>
                </li>
        </div>
    </div>
    </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>

</html>