<!doctype html>

<html ng-app="Todo">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TodoApp main page</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        html {
            overflow-y: scroll;
        }
        body {
            padding-top: 50px;
        }
        #todo-list {
            margin-bottom: 30px;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
    <!--
  <script>
    $(function() {
      $( "#datepicker" ).datepicker();
    });
</script>
-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>

    <link rel="stylesheet" href="/angular-material/angular-material.css">
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-messages/angular-messages.js"></script>
    <script src="angular-material/angular-material.js"></script>

    <script src="js/controllers/main.js"></script>
    <script src="js/services/todos.js"></script>
    <script src="js/core.js"></script>

</head>

<body ng-controller="mainController">
    <div class="navbar navbar-fixed-top" style="background-color:#262626; padding-bottom:10px;">
        <div class="navbar-inner">
            <span class="pull-left listname">
            <p>{{listName |uppercase}}</p>
         </div>
      </div>
      <div id="wrapper">
         <!-- Sidebar -->
         <div id="sidebar-wrapper">
         <div>
         </div>
            <ul class="sidebar-nav">
               <li class="sidebar-brand">
                   <form class="navbar-form pull-right loggedUser" action="/logout" method="get">
               <p>
                  Welcome, <strong><%= user.email%></strong>
                  <button type="submit" class="btn btn-primary">Logout</button>
               </p>
            </form>
               </li>
            </ul>
         </div>
         <!-- /#sidebar-wrapper -->
         <!-- Page Content -->
         <div id="page-content-wrapper">
            <div class="container-fluid">
               <div id="todo-form" class="row">
                  <div class="col-sm-12">

            <form>
                <button type="submit" ng-show="!addTodo" class="addTask btn btn-primary btn-lg" ng-click="toggle()"><i class="plusik glyphicon glyphicon-plus"></i>Dodaj zadanie do wykonania</button>
                <h3>Todos remaining:  <span class="label label-info">{{todos.length}}</span>
            </h3>
            <div class="form-group">
                <p ng-show="addTodo">
                    </br>
                    <md-input-container class="md-block">
                        <label>Todo title</label>
                        <input md-maxlength="100" required="" md-no-asterisk="" name="description" ng-model="formData.title">
                        </br>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Todo description</label>
                        <input type="text" md-maxlength="255" required="" class="form-control input-lg text-center" ng-model="formData.description">
                        </br>
                    </md-input-container>
                    <span style="padding: 40px;" ng-cloak="" class="datepickerdemoBasicUsage">
                                <md-content>
                                  <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                                </md-content>
                        </span>
                    </br>
                    <md-input-container class="md-block">
                        <label>Todo amount of repeats</label>
                        <input type="number" value="1" required="" class="form-control input-lg text-center" ng-model="formData.periodQuantity">
                        </br>
                    </md-input-container>

                </p>
            </div>
            <button type="submit" ng-show="addTodo" class="btn btn-primary btn-lg" ng-click="clearAndToggle()">Cancel</button>
            <button type="submit" ng-show="addTodo" class="btn btn-primary btn-lg" ng-click="addNewTodo()">Add task</button>
            </form>
        </div>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-12">
            <ul class="taskList-body">
                <li class="checkbox" ng-repeat="todo in todos">

                    <div class="pull-left">
                        <input type="checkbox" ng-click="archiveTask(todo._id)" />
                        <!-- ID: {{todo._id}} </br>-->
                        <p class="pull-left">{{todo.title}} </br>
                        </p>
                        <p ng-show="showDescription">{{todos[$index].description}} </br>
                        </p>
                        <div class="showDate pull-right" ng-show="todo.periodQuantity != null">
                            {{todo.currentPeriod}}/{{todo.periodQuantity}}</br>
                        </div>
                    </div>
                    <md-button class="showDescription md-primary md-raised" ngshow="!showDescription" ng-click="showAdvanced($event, $index)">
                        Show description
                    </md-button>


                </li>
            </ul>
        </div>
    </div>

    <script type="text/ng-template" id="dialog1.tmpl.html">

        <md-dialog ng-cloak>
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{locals.items.title}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <h2>{{locals.items.description}}</h2>

                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">

                    <md-button ng-click="cancel()" style="margin-right:20px;">
                        OK!
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>

    <div>
        <h3>Todos history:  <span class="label label-info">{{todoHistory.length}}</span></h3>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-12">
            <ul class="taskList-body">
                <li class="checkbox" ng-repeat="archived in todoHistory">
                    <div class="pull-left">
                        <input type="checkbox"> {{archived.title}} </br>
                        <p ng-show="showDescription">{{archived.description}}</br>
                        </p>
                        <div ng-show="archived.tasks.periodQuantity != null">
                            {{archived.currentPeriod}}/{{archived.periodQuantity}}
                        </div>
                    </div>
                    <md-button class="showDescription md-primary md-raised" ngshow="!showDescription" ng-click="showAdvanced($event, $index)">
                        Show description
                    </md-button>
                </li>
        </div>
    </div>
    </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>

</html>