html,
body {
    overflow-y: scroll;
    font-family: Lato, Helvetica, Arial;
}
#todo-list {
    margin-bottom: 30px;
}

.taskList-body li{
  background:#f2f2f2;
  border-radius:3px;
  font-size: 15px;
  padding: 7px 15px;
  height:46px;
  list-style:none;
  padding-left:40px;
  padding-right:10px;
  margin-left: -40px;
  position:relative;
}

.form-group button{
    margin-left: 20px !important;
    margin-bottom: 10px !important;
}
.showDate{
    margin-left: 30px;
}

.showDescription{
    float: right;
    margin: -7px !important
}

.listname {
    margin-left: 300px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}
.addTask {
    width: 100% !important;
    text-align: left;
    margin-top: 10px;
}
.plusik {
    padding-right: 10px;
    font-size: 0.8em;
}

.navbar {
    height: 45px !important;
}
.loggedUser {
    font-size: 20px;
    color: #fff;
}

.btn{
    background: #CF5813;
}
.popup md-input-container.md-block{
    float: none;
}

.md-button{
    min-width: auto !important;
}



.datepickerdemoBasicUsage md-content, md-datepicker{
    background: #f2f2f2;

  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }

    .dialogdemoBasicUsage #popupContainer {
      position: relative; }

    .dialogdemoBasicUsage .footer {
      width: 100%;
      text-align: center;
      margin-left: 20px; }

    .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
      font-size: 0.8em;
      margin-top: 50px; }

    .dialogdemoBasicUsage button {
      width: 200px; }

    .dialogdemoBasicUsage div#status {
      color: #c60008; }

    /*
    Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
    */

md-dialog-actions{
    border-top: 0.1em solid #999;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder{
    padding-left: 15px !important;
}

.form-group{
    background: #f2f2f2;
    padding: 30px;
}
/*SIDEBAR*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 10000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #6187BD;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    padding: 50px 30px;
    position: absolute;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 0px;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.input-lg {
    margin-top: -10px;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 50px 30px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
//END OF SIDEBAR