## zeby uzywac tej konfiguracji, mongo odpalamy poleceniem
## mongod --config D:\todoapp1\db\mongo.config

## adres bazy
dbpath=C:\noderepo\db\data

## plik z logiem
## wazne: wszystkie operacje są logowane do pliku zamiast na konsolę, ale jest
## w sumie workaround - trzeba uzyc 'tail -f D:\todoapp1\db\log\mongo.log'
logpath=C:\noderepo\db\log\mongo.log

##logowanie operacji zapisu i odczytu
diaglog=3
